<header class="py-3 mb-3 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
    <div class="dropdown">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item active" href="#" aria-current="page">Home</a></li>
        <li><a class="dropdown-item" href="#">Leis e Projetos publicos</a></li>
        <li><a class="dropdown-item" href="#">Casas de apoio/ Serviços sociais</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Por onde começar (Identificando uma violência domestica)</a></li>
        <li><a class="dropdown-item" href="#">Contatos</a></li>
        <li><a class="dropdown-item" href="#">Analytics</a></li>
      </ul>
    </div>

    <div class="d-flex align-items-center">
      
    </div>
  </div>
</header>
