<header class="py-1 border-bottom">
  <div class="container-fluid d-grid gap-3 align-items-center" >
    <!-- <div class="dropdown">
      <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         <img src="assets/icon/menu-outline.svg" alt="mdo" width="32" height="32" class="rounded-circle">
           Menu
      </a>
      <ul class="dropdown-menu text-small shadow" >
        <li  *ngFor="let p of appPages"><a class="dropdown-item" href="#" aria-current="page">
          {{p.title}}</a></li>
      </ul>
    </div> -->
    <h1 style="padding-left: 20px;">Todas Elas :: <span style="font-size: medium;">Encontre serviços e redes de apoio à Mulher </span></h1>
  </div>
</header>
<!-- <img src="assets/icon/menu-outline.svg" alt="mdo" width="32" height="32" class="rounded-circle"> 
      <ion-icon name="menu-outline"></ion-icon>  -->