header,.dropdown {
    background: #ffd4d4;
    color: #000
}

.dropdown-item, .dropdown-menu{
    background: #f5b9b9;
    color: #000
}
h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}