
<app-header></app-header>

<ion-content> 

  <div class="row m-3">
    <div class="col-sm-9"> 
      
      <h3>Objetivo</h3>
      <p class="text-justify">São inúmeros os casos de violência contra a mulher, denunciar é muito importante. Entretanto, em muitas situações apenas a denúncia não é suficiente para garantir a segurança da mulher. 
        Essa mulher precisa apoio jurídico, psicológico, e até moradia provisória.
       </p>

      <h5 class="font-weight-bold"> Você sabe quais projetos de rede de apoio existem atualmente? </h5>
       
      <p>
        O objetivo aqui é trazer exatamente essas informações, auxiliando 
        assim todas as mulheres saberem quais os seus direitos e onde pode encontrar suporte. Por todas elas!!!
      </p>

      <a href="#" class="btn btn-success disabled" tabindex="-1" role="button" aria-disabled="true">
        Você não está sozinha, Disque 180 
      </a>

      <h1 class="font-weight-bold border-bottom">Serviços Especializados de Atendimento à Mulher  </h1>

      <div  *ngFor="let post of posts">
        <h3>{{post.titulo}}</h3>
        <p> {{post.descricao}} </p>
      </div>

      <p class="text-muted">Referência: 
        <a href="https://www12.senado.leg.br/institucional/omv/acoes-contra-violencia/servicos-especializados-de-atendimento-a-mulher">https://www12.senado.leg.br/institucional/omv/acoes-contra-violencia/servicos-especializados-de-atendimento-a-mulher</a>
      </p>

    </div>
    
    <div class="col-sm-3">
       <div class="card mb-1" *ngFor="let c of cards">
        <div class="card-body titulocard">
          <h5 class="card-title">{{c.titulo}}</h5>
          <p class="card-text">{{c.texto}}</p>
          <a href="{{c.url}}" class="btn btn-link" target="_blank">Leia mais</a>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>

</ion-content>
