
<app-header></app-header>

<ion-content> 


  <div class="row m-3">
    <div class="col-sm-12">
      <h3>Objetivo</h3>
      <p>O objetivo deste site é levar informações de projetos e politicas publicas  afim de auxiliar mulheres que estejam passando por situações de violência doméstica e/ou qualquer 
        tipo de violência contra a mulher e não sabem como ou ondem procurar ajuda.
      </p>
      <p>Em alguns casos apenas denunciar não é suficiente, a mulher precisa de um local seguro para ficar,
        não tem como sair de casa, pode não ter uma renda nem independencia financeira e com isso continua morando com o agressor.
      </p>
      <p>Ao sofrer violência fisica e psicologica é necessário um apoio e acompanhamento psicologico, moradia, etc... 
        E o estado possui projetos que podem ajudar as mulheres a sairem desta situação o quanto antes
      </p>
      <h1>Serviços Especializados de Atendimento à Mulher  </h1>
      <h3>Centros Especializado de Atendimento à Mulher</h3>
      <p>Os Centros de Referência são espaços de acolhimento/atendimento psicológico e social, 
        orientação e encaminhamento jurídico à mulher em situação de violência, que devem proporcionar o 
        atendimento e o acolhimento necessários à superação de situação de violência, contribuindo para o fortalecimento 
        da mulher e o resgate de sua cidadania.
      </p>
      <h3>
        Casas-Abrigo</h3>
      <p>As Casas-Abrigo são locais seguros que oferecem moradia protegida e atendimento integral a mulheres em risco de morte iminente em razão da violência doméstica. É um serviço de caráter sigiloso e temporário, no qual as usuárias permanecem por um período determinado, durante o qual deverão reunir condições necessárias para retomar o curso de suas vidas.
      </p>

      <h3>Casas de Acolhimento Provisório</h3>
      <p>Constituem serviços de abrigamento temporário de curta duração (até 15 dias), não-sigilosos, para mulheres em situação de violência, acompanhadas ou não de seus filhos, que não correm risco iminente de morte. Vale destacar que as Casas de Acolhimento Provisório não se restringem ao atendimento de mulheres em situação de violência doméstica e familiar, devendo acolher também mulheres que sofrem outros tipos de violência, em especial vítimas do tráfico de mulheres. O abrigamento provisório deve garantir a integridade física e emocional das mulheres, bem como realizar diagnóstico da situação da mulher para encaminhamentos necessários.
      </p>
      
      <h3>
        Delegacias Especializadas de Atendimento à Mulher (DEAMs)</h3>
      <p>São unidades especializadas da Polícia Civil para atendimento às mulheres em situação de violência. As atividades das DEAMs têm caráter preventivo e repressivo, devendo realizar ações de prevenção, apuração, investigação e enquadramento legal, as quais dever ser pautadas no respeito pelos direitos humanos e pelos princípios do Estado Democrático de Direito. Com a promulgação da Lei Maria da Penha, as DEAMs passam a desempenhar novas funções que incluem, por exemplo, a expedição de medidas protetivas de urgência ao juiz no prazo máximo de 48 horas.
      </p>

      <h3>Núcleos ou Postos de Atendimento à Mulher nas Delegacias Comuns
      </h3>
      <p>Constituem espaços de atendimento à mulher em situação de violência (que em geral, contam com equipe própria) nas delegacias comuns.
      </p>

      <h3>
        Defensorias Públicas e Defensorias da Mulher (Especializadas)</h3>
      <p>
        As Defensorias da Mulher têm a finalidade de dar assistência jurídica, orientar e encaminhar as mulheres em situação de violência. É órgão do Estado, responsável pela defesa das cidadãs que não possuem condições econômicas de ter advogado contratado por seus próprios meios. Possibilitam a ampliação do acesso à Justiça, bem como, a garantia às mulheres de orientação jurídica adequada e de acompanhamento de seus processos.
        </p>
 
      <h3>Juizados Especializados de Violência Doméstica e Familiar contra a Mulher</h3>
      <p>
        Os Juizados de Violência Doméstica e Familiar contra a Mulher são órgãos da Justiça Ordinária com competência cível e criminal que poderão ser criados pela União (no Distrito Federal e nos Territórios) e pelos Estados para o processo, julgamento e a execução das causas decorrentes da prática de violência doméstica e familiar contra a mulher. Segundo a Lei nº 11.340/2006 (Lei Maria da Penha), que prevê a criação dos Juizados, esses poderão contar com uma equipe de atendimento multidisciplinar a ser integrada por profissionais especializados nas áreas psicossocial, jurídica e da saúde.
        </p>
 

      <h3>
        Promotorias e Promotorias Especializadas</h3>
      <p>A Promotoria Especializada do Ministério Público promove a ação penal nos crimes de violência contra as mulheres. Atua também na fiscalização dos serviços da rede de atendimento.
      </p>

      <h3>
        Casa da Mulher Brasileira</h3>
      <p>
        A Casa da Mulher Brasileira integra no mesmo espaço serviços especializados para os mais diversos tipos de violência contra as mulheres: acolhimento e triagem; apoio psicossocial; delegacia; Juizado; Ministério Público, Defensoria Pública; promoção de autonomia econômica; cuidado das crianças – brinquedoteca; alojamento de passagem e central de transportes. Mais informações disponíveis em http://www.spm.gov.br/assuntos/violencia/cmb.
        </p>

      <h3>Serviços de Saúde Geral e Serviços de Saúde voltados para o atendimento dos casos de violência sexual e doméstica
      </h3>
      <p>A área da saúde, por meio da Norma Técnica de Prevenção e Tratamento dos Agravos Resultantes da Violência Sexual contra Mulheres e Adolescentes, tem prestado assistência médica, de enfermagem, psicológica e social às mulheres vítimas de violência sexual, inclusive quanto à interrupção da gravidez prevista em lei nos casos de estupro. A saúde também oferece serviços e programas especializados no atendimento dos casos de violência doméstica.
      </p>
      <p>Referencia: https://www12.senado.leg.br/institucional/omv/acoes-contra-violencia/servicos-especializados-de-atendimento-a-mulher</p>

    </div>
  </div>

  <div class="row m-3">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Serviços Especializados de Atendimento à Mulher</h5>
          <p class="card-text">Centro de Referência em Assistência Social -CRAS</p>
          <a href="#" class="btn btn-link">Leia mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Por que denunciar?</h5>
          <p class="card-text">
            A importância de denunciar
          </p>
          <a href="#" class="btn btn-link">Leia mais</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Por que denunciar?</h5>
          <p class="card-text">
            A importância de denunciar
          </p>
          <a href="#" class="btn btn-link">Confira outros</a>
        </div>
      </div>
    </div>
  </div>

</ion-content>
