
<app-header></app-header>

<ion-content> 

  <div class="row m-3">
    <div class="col-sm-9"> 
      
      <h3>Objetivo</h3>
      <p class="text-justify">São inumeros os casos de violência contra a mulher, denunciar já é uma atitude que exige muita coragem da mulher. 
        Entretanto em muitas situações apenas a denuncia não é suficiente para garantir a segurança da mulher. 
        Essa mulher precisa apoio juridico, psicologico, e até moradia provisória.
       </p>
      <p class="font-weight-bold"> Você sabe quais projetos de rede de apoio existem atualmente? </p>
       
      <p>
        O objetivo aqui é trazer exatamente essas informações, auxiliando assim todas as mulheres saberem quais os seus direitos e onde pode encontrar suporte. 
      </p>
      <br>
      <h1 class="font-weight-bold border-bottom">Serviços Especializados de Atendimento à Mulher  </h1>

      <div  *ngFor="let post of posts">
        <h3>{{post.titulo}}</h3>
        <p> {{post.descricao}} </p>
      </div>

      <p class="text-muted">Referência: 
        <a href="https://www12.senado.leg.br/institucional/omv/acoes-contra-violencia/servicos-especializados-de-atendimento-a-mulher">https://www12.senado.leg.br/institucional/omv/acoes-contra-violencia/servicos-especializados-de-atendimento-a-mulher</a>
      </p>

    </div>
    
    <div class="col-sm-3">
       <div class="card mb-1" *ngFor="let c of cards">
        <div class="card-body titulocard">
          <h5 class="card-title">{{c.titulo}}</h5>
          <p class="card-text">{{c.texto}}</p>
          <a href="{{c.url}}" class="btn btn-link">Leia mais</a>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>

</ion-content>
